.PurchaseTic {
    background-color: #a6c3a2; 
    padding: 20px;
    margin: 20px auto; 
    border: 1px solid #59c090; 
    border-radius: 54px;
    max-width: 500px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    font-family: "Arial", sans-serif; 
  }
  
  .PurchaseTic h2 {
    font-size: 24px;
    color: #2d387a;
    margin-bottom: 15px; 
    text-align: center; 
  }
  
  .PurchaseTic select {
    width: 60%; 
    padding: 10px;
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 54px; 
    font-size: 16px; 
    background-color: #fff; 
  }
  
  .PurchaseTic button {
    width: 60%; 
    padding: 12px; 
    background-color: #db5c17; 
    color: #fff; 
    border: none; 
    border-radius: 54px; 
    font-size: 16px; 
    font-weight: bold; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  }
  
  .PurchaseTic button:hover {
    background-color: #0056b3; 
  }
  
  .PurchaseTic button:active {
    background-color: #14203e; 
  }
  
  .PurchaseTic select:focus {
    outline: none; 
    border-color: #2d387a; 
    box-shadow: 0 0 5px rgba(45, 56, 122, 0.5);
  }
  